{:duct.profile/base
 {:duct.core/project-ns simple

  :duct.router/ataraxy
  {:routes {}}

  :duct.server.http/http-kit
  {:port 3000}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
